{% extends "base/index.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="container">
        <div class="order">
            <h1 class="sub-sign">Сбросьте свой пароль</h1>
            <p class="text">Мы отправили вам по электронной почте инструкции по установке пароля.<br>
            Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, по которому зарегистрировались.</p>
        </div>
    </div>
    <br>
{% endblock %}