{% extends "base/index.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="sub-header">Forgotten your password?</h1>
        <div class="order">
            <h4 class="sub_sign">Enter your e-mail address to obtain a new password.</h4>
            <form action="." method="post">
                {{ form.as_p }}
                <p><input class="main_anchor" type="submit" value="Send e-mail"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
